/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ---- CSS RESET END ---- */
html,
body,
#root,
main {
  height: 100%;
}
body main {
  background-color: rgb(228, 228, 228);
}
@media only screen and (min-width: 768px) {
  .h-100-md-up {
    height: 100%;
    max-height: 100vh;
  }

  section .profile {
    margin-right: -15px;
    background: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
      )
      right rgba(255, 255, 255, 0) no-repeat;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
      )
      right rgba(255, 255, 255, 0) no-repeat;
    background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
      )
      right rgba(255, 255, 255, 0) no-repeat;
    background-size: 3px 100%;
  }
}

.navigator svg {
  user-select: none;
  cursor: pointer;
}

.slide {
  position: absolute;
  display: none;
  transition: opacity 300ms;
}
.slide-enter-done,
.slide-enter,
.slide-exit {
  display: block;
  opacity: 0;
}
.slide-enter-done,
.slide-enter-active {
  opacity: 1;
}
.slide-exit-active {
  opacity: 0;
}
