/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ---- CSS RESET END ---- */
html,
body,
#root,
main {
  min-width: 300px;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
main {
  background-color: #fff;
}
main a {
  color: #ff9900;
  text-decoration: none;
}
main a:hover {
  color: #a76400;
}
h1 {
  font-size: 28px;
}
h1 + h2 {
  font-size: 16px;
  margin-top: 5px;
}
.profile .responsive-img {
  width: 100%;
  height: auto;
  max-width: 200px;
  border-radius: 50%;
  border: solid 4px#fff;
  box-shadow: 0px 2px 4px #ababab;
}
.navigator img {
  width: 80px;
  height: auto;
}
.navigator svg {
  user-select: none;
  cursor: pointer;
}
/* Fade In Effect */
.fade-in {
  display: none;
  position: absolute;
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
}
.fade-in-enter-done,
.fade-in-enter,
.fade-in-exit {
  display: block;
  opacity: 0;
}
.fade-in-enter-done,
.fade-in-enter-active {
  opacity: 1;
}
.fade-in-exit-active {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .h-100-md-up {
    height: 100%;
    max-height: 100vh;
  }
  section .profile {
    margin-right: -15px;
    background: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        #ff9900 50%,
        rgba(255, 255, 255, 0) 100%
      )
      right rgba(255, 255, 255, 0) no-repeat;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        #ff9900 50%,
        rgba(255, 255, 255, 0) 100%
      )
      right rgba(255, 255, 255, 0) no-repeat;
    background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        #ff9900 50%,
        rgba(255, 255, 255, 0) 100%
      )
      right rgba(255, 255, 255, 0) no-repeat;
    background-size: 1.5px 100%;
  }
}
@media only screen and (max-width: 767px) {
  main {
    padding-top: 15px;
  }
  .profile .responsive-img {
    max-width: 100px;
  }
  .fade-in-exit-done,
  .fade-in-enter-done {
    position: initial;
  }
}
